body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgba(100, 100, 100, 0.5), rgba(190, 190, 190, 0.5)), url("../img/White_Sox.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.view {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#start {
  visibility: visible;
}

#chris {
  visibility: hidden;
}

#order {
  visibility: hidden;
}

.modal {
  position: relative;
  width: 50%;
  height: 300px;
  top: calc(50vh - 150px);
  margin-left: auto;
  margin-right: auto;
  background-color: #802b00;
  /* border-radius: 3em; */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.button {
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

#imchris.button {
  background: linear-gradient(rgba(0, 51, 204, 1), rgba(51, 102, 255, 1));
  /* border-radius: 3em 3em 0 0; */
}

#wantburger.button {
  background: linear-gradient(rgba(0, 153, 51, 1), rgba(0, 204, 68, 1));
  /* border-radius: 0 0 3em 3em; */
  line-height: 2.5em;
  font-size: 1.3em;
}

.order {
  background: linear-gradient(to right, rgba(128, 128, 128, 1), rgba(153, 153, 153, 1));
}

.order p {
  padding: .3em;
  margin-bottom: .3em;
  font-size: 1.3em;
}

.order .button {
  line-height: 3em;
  height: 3em;
  background: linear-gradient(rgba(0, 153, 51, 1), rgba(0, 204, 68, 1));
}

.tile-area {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
  min-width: 12em;
  top: 0vw;
  left: 0vw;
}

.tile-area h3 {
  position: relative;
  width: 100%;
  z-index: 4;
  //background: linear-gradient(to right, rgba(128, 128, 128, 1), rgba(153, 153, 153, 1));
  background: beige;
  padding: 0.5em;
  margin: 0 0 0 0;
  border-top: 1px solid black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tile-area:nth-child(2n) h3 {
  //background: linear-gradient(to right, rgba(178, 178, 178, 1), rgba(203, 203, 203, 1));
}

.tile-area h3 .selection {
  float: right;
}

.tile-area > .tile {
  flex-grow: 1;
  position: relative;
  //display: block;
  z-index: 3;
  overflow: hidden;
  width: 5.5em;
  height: 5.5em;
  padding: .5em;
  transition: width .1s ease-in-out, height .1s ease-in-out, padding .1s ease-in-out;
  transition: top 1s ease-in-out;
}

.tile-area > .tile.away {
  top: -100px;
}

.tile-area.selected > .tile {
  //display: none;
  width: 0;
  height: 0;
  padding: 0;
}

.tile-area > .tile.selected {
  //display: block;
  width: 100%;
  height: 5.5em;
  padding: .5em;
}
